<div class="perfil">
    <div>
        <div class="imagen">
            <img src="../../assets/img/perfil.png" alt="">
            <h2>Nicolás Rivero</h2>
        </div>
    </div>
    <div class="texto">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam blanditiis distinctio suscipit totam, quod dolorum quisquam natus sapiente harum quidem possimus sed, vel ipsum ad deserunt. Reiciendis, dolor. Fugit fugiat placeat ut ab molestias vitae amet! Molestiae, autem sapiente!</p>
    </div>
</div>